[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:herom-s/libft.git
	branch = improvements
[submodule "lib/sampalx"]
	path = lib/sampalx
	url = git@github.com:herom-s/SampaLX.git
	branch = feat/webgl-support
